html,
body {
	font-size: 16px;
}

.body {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}




.navbar-nav {
	flex-direction: column;
	font-size: medium;
}
/* .navbar-transparent {
	background-color: transparent !important;
	z-index: 999;
	padding-right: 15%;
	padding-left: 15%;
} */

.nav-link {
	padding-right: 0.4rem !important;
	padding-left: 0.4rem !important;
}
.navbar {
	font-weight: bold;
}

.carousel h1 {
	text-align: center;
	padding-bottom: 2.5rem;
	margin-top: 3.5rem;
	text-shadow: 0.15rem 0.15rem 0.15rem rgb(65, 61, 61);
}

.education-container {
	padding: 3% 0 3% 0;
	margin: 0 8% 0 8%;
}
.education-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.image-container {
	max-height: 560px;
	max-width: 560px;
	margin: auto;
}

.education-info-container {
	padding: 5% 5% 5% 5%;
	text-size-adjust: 300%;
}
.education-header {
	padding: 0 0 1.3rem 0;
}

.possibility-icon {
	object-fit: cover;
	flex: auto;
}
.possibility-icon-container {
	padding: 0 1 0.6rem 0;
	margin: 1.3rem 1rem 1.3rem 0;
}

.possibility-text {
	margin: 1.3rem 0 1.3rem 1rem;
	text-align: left;
	white-space: nowrap;
}
.features-container {
	padding: 2% 0 3% 0;
	margin: 0 8% 0 8%;
	background-color: rgb(246, 242, 238);
	text-size-adjust: 300%;
}

.features-header {
	text-align: center;
	padding: 1rem 0 2rem 0;
}

.feature-image {
	border-radius: 50%;
	object-fit: cover;
	width: 60%;
	margin: 1rem;
	background-color: white;
}

.feature-name {
	text-align: center;
	margin: 0 5% 0 5%;
}
.courses-container {
	padding: 2% 0 3% 0;
	margin: 0 8% 0 8%;
	text-size-adjust: 300%;
	background-color: white;
}
.courses-header {
	text-align: center;
	padding: 1rem 0 2rem 0;
}
.courses-col {
	background-color: rgb(189, 188, 187);
	margin: 0 0 5% 0;
}
.courses-text {
	padding-bottom: 2.2rem;
}
.courses-col h5 {
	font-weight: bolder;
}
.courses-col h4 {
	font-weight: bolder;
}

.course-card-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.courses-info {
	text-align: left;

	padding: 1.5rem 4% 1.5rem 4%;
	border-bottom: 3px solid #5c5e5e;
	border-bottom-width: 100%;
}
.courses-graphic {
	text-align: center;
}

.courses-time {
	margin: 2rem 1rem 0.8rem 2rem;
	border-bottom: 2px solid #5c5e5e;
}

.courses-teacher {
	margin: 2rem 2rem 0.7rem 2rem;
	border-bottom: 2px solid #5c5e5e;
}

.courses-button {
	text-align: center;
	margin: 2.5rem 0 0 0;
	padding: 0 2.5rem 0 2.5rem;
}
.button-inner {
	padding: 10px 35% 10px 35%;
	font-weight: bold;
	font-size: large;
	text-align: center;
	display: block;
}

.more-courses {
	padding: 1%;
}

.more-courses-header {
	text-align: center;
}

.teachers-container {
	padding: 2% 0 3% 0;
	margin: 0 8% 0 8%;
	text-size-adjust: 300%;
	background-color: rgb(246, 242, 238);
	text-align: left;
}

.teachers-header {
	text-align: center;
	padding: 1rem 0 2rem 0;
}
.teacher-photo-container {
	margin: 5% 0 5% 0;
}
.teacher-info {
	margin: 2rem 0 2rem 0;
	padding: 0 3% 0 5%;
}

.teacher-name-container {
	margin: 5% 0 5% 0;

	padding: 0.6rem 0 0.6rem 0;
}
.teacher-photo {
	object-fit: cover;
	width: 60%;
}

.teacher-name {
	font-weight: bolder;
}

.teacher-post {
	color: green;
}


.programs-container {
	padding: 2% 0 3% 0;
	margin: 0 8% 0 8%;
	text-size-adjust: 300%;
	background-color: white;
}
.programs-header {
	text-align: center;
	padding: 1rem 0 1.5rem 0;
}
.program-name-container {
	position: relative;
	text-align: center;
	background-color: rgb(4, 94, 4);
	opacity: 70%;
	margin: 1rem 0 1.1rem 0;
}
/* white-space: nowrap; не дає переноситись */
.programs-discription-header {
	width: 100%;
	font-weight: bolder;
	white-space: nowrap;
}

.programs-discription {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}
.program-image {
	width: 100%;
	height: 100%;
}
.comments-container {
	padding: 2% 0 3% 0;
	margin: 0 8% 0 8%;
	text-size-adjust: 300%;
	background-color: rgb(246, 242, 238);
	text-align: center;
}
.comments-header {
	padding: 1rem 0 2rem 0;
}

.comments-photo-container {
	padding: 2.5rem;
}

.comments-text {
	margin: 7% 15% 7% 15%;
	font-size: larger;
}

.comments-person {
	font-weight: bold;
	padding: 10px 0 10px 0;
}

.comments-post {
	color: #5c5e5e;
}

.blog-container {
	padding: 2% 0 3% 0;
	margin: 0 8% 0 8%;
	text-size-adjust: 300%;
	background-color: white;
	text-align: center;
}
.blog-header {
	padding: 1rem 0 1.5rem 0;
}

.blog-text {
	padding-bottom: 2rem;
}
.blog-info {
	padding: 1.5rem 1rem 1.5rem 1rem;
}
.blog-title {
	padding: 1rem;
}

.blog-card-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.blog-button {
	text-align: center;
}

.blog-button-inner {
	padding: 0.6rem 2rem 0.6rem 2rem;
	font-weight: bold;
	font-size: large;
}

.end-container {
	background-image: url("Rectangle65.png");
	margin: 1rem 0 1rem 0;
	padding: 2rem 0 2rem 0;

	text-align: center;
}
.end-form-control {
	width: 87%;
	text-align: center;
	display: inline-block;
}

.end-text {
	color: white;
	margin: 0 10% 0 10%;
}
.end-connect {
	margin: 1rem 0 1rem 0;
}
.end-button {
	margin: 1rem 0 1rem 0;
}
.contact-container {
	padding: 2% 0 2% 0;
	margin: 0 8% 0 8%;
	text-size-adjust: 300%;
	background-color: white;
	text-align: center;
}
.contact-header {
	padding: 1rem 0 1.5rem 0;
}
.contact-name {
	margin: 1rem 0 1rem 0;
}
.contact-mail {
	margin: 1rem 0 1rem 0;
}
.contact-message {
	margin: 1rem 0 1rem 0;
}

.contact-message-inner {
	padding: 0 0 12rem 0.5rem;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.contact-map-container {
	margin: 4% 0 3% 0;
}

.navigation-bottom {
	padding: 2% 8% 2% 8%;
	text-size-adjust: 300%;
}
@media screen and (min-width: 1000px) {
	.navbar-transparent {
		background-color: transparent !important;
		z-index: 999;
		padding-right: 8%;
		padding-left: 8%;
	}
	.carousel {
		max-height: 700px;
		margin-top: -60px;
	}
	.carousel h1 {
		margin: auto 0 230px 0;
		text-shadow: 0.15rem 0.15rem 0.15rem rgb(65, 61, 61);
	}
}
@media screen and (max-width: 1000px) {
	.carousel h1 {
		font-size: 20px;
	}
}
@media screen and (max-width: 576px) {
	.teachers-container {
		text-align: center;
	}
}
@media screen and (min-width: 576px) {
	.teacher-photo {
		object-fit: cover;
		width: 100%;
	}
}